:root {
  --fontFamily: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  --footerBgcolor: #04091e;
  --whiteColor: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

header {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.274)),
    url(image/header-bg.jpeg);
  /* border: 1px solid transparent; */
  overflow: auto;
}

nav {
  width: 100vw;
  height: 5rem;
  background-color: var(--whiteColor);
  position: fixed;
}

.industry__logo {
  margin-top: 1.8rem;
  margin-left: 7rem;
}

.industry__unorderlist {
  margin-top: -2rem;
  margin-left: 39rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 35rem;
}

.link {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
  font-family: ;
}

.blog--link {
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
  font-family: var(--fontFamily);
}

.dropdown:hover .dropdown--modal {
  transition: all 200ms linear;
  display: block;
}

.dropdown--modal {
  position: absolute;
  top: 3.2rem;
  left: 67rem;
  background-color: var(--whiteColor);
  width: 17rem;
  height: 10rem;
  display: none;
}

.dropdown--unorderlist {
  margin-top: 2rem;
  margin-left: -1.5rem;
}

.dropdown--list {
  list-style: none;
  line-height: 2.8rem;
}

.link--dropdown {
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div--industry {
  margin-top: 8rem;
  color: var(--whiteColor);
  text-align: center;
  font-family: var(--fontFamily);
}

h3 {
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 3.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.div--industry__desc {
  font-size: 1rem;
  width: 67rem;
  margin-left: 11rem;
}

.btn--div {
  background-color: rgb(255, 196, 0);
  display: inline-block;
  padding: 0.7rem 2rem;
  margin-top: 1rem;
  border-radius: 0.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.footer {
  background-color: var(--footerBgcolor);

  height: 70vh;
}

.footer-grid {
  display: grid;
  padding: 8rem 6rem;
  grid-template-areas: "about-us newsletter follow-us";
}

.about-us {
  grid-area: about-us;
}

.footer__desc {
  margin: 2rem 0;
  max-width: 30rem;
  color: #777;
  font-size: 1.2rem;
}

.footer__copyright {
  color: #777;
  font-size: 1rem;
  max-width: 30rem;
}

.newsletter {
  grid-area: newsletter;
}

.newsletter .footer__heading {
  margin-bottom: 2rem;
}

.newsletter .newsletter__desc {
  color: #777;
  margin-bottom: 1rem;
}

.newsletter input {
  padding: 0.7rem 1rem;
  width: 25rem;
  height: 1rem;
  border: none;
  color: var(--footerBgcolor);
}

.newsletter input:focus {
  border: none;
  outline: none;

  padding: 0.7rem 1rem;
}

.newsletter input::placeholder {
  text-transform: capitalize;
  font-size: 1rem;
}

.follow-us {
  grid-area: follow-us;
}

.follow-us p {
  color: #777;
  margin: 2rem 0;
}

.footer__heading {
  color: var(--whiteColor);
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 600;
}

.footer__social-links {
  display: flex;
}

.footer__social-links li {
  width: 1.5rem;
  background-color: rgba(119, 119, 119, 0.5);
  color: var(--whiteColor);
  margin: 0 0.2rem;
}

.footer__social-links img {
  width: 100%;
  height: 100%;
}

.footer__social-links li:hover {
  background-color: rgba(119, 119, 119, 1);
}
